body{
    background-color: #1E1E1E;
}

.heading{
    text-align: center;
    color: #7E7C89;
    font-size: 19px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 2px;
    margin-top: 40px;
    /* margin-left: 70px; */
    /* background-color: red; */
}

.wrapper{
    padding: 10px;
}

.container{
    background-color: #24232B;
    width: 480px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
    
}

.display{
    background-color: #24232B;
    /* margin-bottom: 20PX; */
    height: 70px;
    width: 480px;
}
.display p{
    margin-top: 4px;
    font-size: 33px;
    /* margin: auto; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    font-family: monospace;
    padding: 8px;
    margin-left: 24px;
    color: #53525A;
}

.display img{
    margin-top: 25px;
    margin-right: 4px;

}

.copy{
    width: 100px;
    float: right;
}

.copy img{
    float: right;
}

/* .copyActive{
    width: 100px;
    float: right;
} */
.copyActive img{
    float: right;
    padding: 2px;
    transition: 0.1s;
}
/* .copyActive img:hover{
    padding: 2px;
    transition: 0.5s;
} */

.spaceManager{
    background-color: #1E1E1E ;
    height: 20px;
    width: 480px;
}


/* .screen{
    background-color: bisque;
} */





.strengthContainer{
    /* background-color: pink; */
    /* margin: auto; */
    margin: 20px;
    margin-left: 30px;
}

.charecterLength{
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
    padding: 2px;
    font-weight: bold;
    font-family: monospace;

}

.strengthNumber{
    color: #A4FFAF;
    float: right;
    font-family: monospace;
    font-size: 29px;
   
}

.range{
    /* background-color: purple; */
    width: 100%;
    margin-bottom: 10px;
}

input[type='range']{
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #19171F;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type='range']:hover {
    opacity: 0.5;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #EDECF4;
    cursor: pointer;
  }
  
  input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #19171F;
    cursor: pointer;
  }



.checkbox{
    /* background-color: blue; */
}

input[type="checkbox"]{
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    /* outline: 2px solid #c00; */
    margin-top: 12px;
    
}

.checkbox p{
    margin-top: 10px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    font-family: monospace;
}





.strengthDisplay{
    background-color: #18171F;
    color: #82808E;
    margin-top: 20px;
    width: 421px;
    height: 63px;
}

.strengthDisplay p{
    /* background-color: red; */
    padding: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: mixed;
}


.indicatorContainer{
    display:table;
    width: 50%; 
    height: 40px; 
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.indicatorContainer div{
     display:table-cell;
}

.indicator {
    /* background-color: red; */
    border: 3px solid white;
    width: 10px;
    height: 32px;
}

.indicatorActive {
    background-color: #A4FFAF;
    border: 3px solid white;
    width: 10px;
    height: 32px;
}



.generateButton{
    background-color: #A4FFAF;
    width: 421px;
    height: 63px;
    margin-top: 25px;
    font-size: 15px;
    cursor: pointer;
}

.generateButton:hover{
    opacity: 0.7;
    transition: 0.2s;
}


.generateButton p{
padding: 20px;
/* font-size: 15px; */
font-family: roboto;
font-weight: bold;
margin-left: 140px;
}


.generateButton img{
    margin-top: 20px;
    margin-left: 0px;
    /* position: absolute; */
    cursor: pointer;
}

